<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/script.js"></script>
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxoJXbVdPsj0_XhdyVVzkaNG3wot69lgQ&libraries=places&callback=initMap"></script>
</body>


<!-- To Connect Socket.io -->
</html>